In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import matplotlib.pylab as plt
%matplotlib inline

In [2]:
FOLDER = "../features/"
df_train = pd.read_pickle(FOLDER + "train_features.pkl")
df_test = pd.read_pickle(FOLDER + "test_features.pkl")

sub = pd.read_csv('../ensembles/blending.csv.gz')

In [3]:
df_test = df_test.merge(sub, on='row_id',how="left")
df_test.head()

,row_id,building_id,meter,timestamp,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,apparent_temperature,DT_hour,DT_day_week,timestamp_og,meter_reading
0,0,0,0,8784.0,0,0,8.914062,2008.0,NaN,17.80000,4.000000,11.700000,0.282609,16.832337,0,6,2017-01-01,175.1754
1,41613054,1225,0,8784.0,14,6,11.718750,NaN,NaN,-2.33913,0.324324,-12.543478,0.000000,-7.009489,0,6,2017-01-01,181.1159
2,41613055,1225,1,8784.0,14,6,11.718750,NaN,NaN,-2.33913,0.324324,-12.543478,0.000000,-7.009489,0,6,2017-01-01,179.6197
3,41613056,1225,2,8784.0,14,6,11.718750,NaN,NaN,-2.33913,0.324324,-12.543478,0.000000,-7.009489,0,6,2017-01-01,681.2432
4,41613057,1226,0,8784.0,14,0,10.242188,NaN,NaN,-2.33913,0.324324,-12.543478,0.000000,-7.009489,0,6,2017-01-01,42.1520

In [4]:
building_693 = pd.read_csv('../post-processing/building_693.csv.gz')
building_723 = pd.read_csv('../post-processing/building_723.csv.gz')

print(building_693.shape, building_723.shape)

(17520, 2) (17520, 2)

In [5]:
# df_test.loc[building_693.row_id, 'meter_reading']= building_693.meter_reading

In [6]:
df_test.loc[df_test.row_id.isin(building_693.row_id), 'meter_reading'] = building_693.meter_reading.values
df_test.loc[df_test.row_id.isin(building_723.row_id), 'meter_reading'] = building_723.meter_reading.values

In [7]:
# set 778. 740 as 0
df_test.loc[(df_test.building_id==778) & (df_test.meter == 1), 'meter_reading'] = df_test.loc[(df_test.building_id==778) & (df_test.meter == 1), 'meter_reading']  * 100
df_test.loc[(df_test.building_id==740) & (df_test.meter == 0), 'meter_reading'] = 0.0004

In [8]:
submit = df_test[['row_id', 'meter_reading']]
print(submit.shape)
submit.head()

(41697600, 2)

     row_id  meter_reading
0         0       175.1754
1  41613054       181.1159
2  41613055       179.6197
3  41613056       681.2432
4  41613057        42.1520

In [9]:
submit['meter_reading'] = submit['meter_reading'] * 0.88
submit.meter_reading = submit.meter_reading.round(4)
print(submit.shape)
submit.head()

(41697600, 2)

/home/ww6p9/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/ww6p9/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

     row_id  meter_reading
0         0       154.1544
1  41613054       159.3820
2  41613055       158.0653
3  41613056       599.4940
4  41613057        37.0938

In [10]:
SUBMISSION_FILE_PATH = "../submission/last_sub_2.csv.gz"
print("Writing the submission to csv.gz file ...")
submit.to_csv(SUBMISSION_FILE_PATH, index=False, compression='gzip')

Writing the submission to csv.gz file ...

In [11]:
submit.meter_reading.mean()

346.9697188391682

In [12]:
best_085 = pd.read_csv('../submission/best_085.csv.gz')

In [13]:
best_085.meter_reading.mean()

345.04576230462703

In [14]:
394 * 0.88

346.72